<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiCusRelationMapper">

    <sql id="selectSql">
        SELECT
        T.id,
        T.from_open_id,
        T.to_open_id,
        T.create_time,
        T.saler_id
        FROM nideshop_cus_relation T
        WHERE 1=1
    </sql>

    <select id="selectCusRelationPage" resultType="com.platform.entity.ApiCusRelationVo">
        <include refid="selectSql"/>
    </select>

    <select id="queryAll" resultType="com.platform.entity.ApiCusRelationVo">
        <include refid="selectSql"/>
        <if test="params.fromOpenId != null and params.fromOpenId.trim() != ''">
            AND T.NAME LIKE '%${params.fromOpenId}%'
        </if>
        <if test="params.toOpenId != null and params.toOpenId.trim() != ''">
            AND T.NAME LIKE '%${params.toOpenId}%'
        </if>
    </select>

    <insert id="save" parameterType="com.platform.entity.ApiCusRelationVo" >
		replace into nideshop_cus_relation(
			`id`,
			`from_open_id`,
			`to_open_id`,
			`saler_id`,
			`create_time`)
		values(
			#{id},
			#{fromOpenId},
			#{toOpenId},
			#{salerId},
			#{createTime}
			)
	</insert>

    <update id="update" parameterType="com.platform.entity.ApiCusRelationVo" >
		replace into nideshop_cus_relation(
			`from_open_id`,
			`to_open_id`,
			`saler_id`,
			`create_time`)
		values(
			#{fromOpenId},
			#{toOpenId},
			#{salerId},
			#{createTime}
			)
	</update>

    <select id="getCusByToOpenid" resultType="com.platform.entity.ApiCusRelationVo">
        <include refid="selectSql"/>
            AND T.to_open_id = #{toOpenId}
    </select>

    <select id="getCusByFromOpenId" resultType="com.platform.entity.ApiCusRelationVo">
        <include refid="selectSql"/>
        AND T.from_open_id = #{fromOpenId}
    </select>

</mapper>