<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.platform.dao.ApiStoreMapper">

    <select id="queryByOpenId" resultType="com.platform.entity.ApiStore">
      SELECT
        T.open_id,
        T.store_name,
        T.store_location,
        T.store_location_details,
        T.phone,
        T.business_license_no,
        T.shopkeeper_name
       FROM nideshop_store T
      WHERE open_id = #{openId}
    </select>

    <insert id="saveOrUpdate" parameterType="com.platform.entity.ApiStore" >
		replace into nideshop_store(
			`open_id`,
			`store_name`,
			`store_location`,
			`store_location_details`,
			`phone`,
			`business_license_no`,
			`shopkeeper_name`)
		values(
			#{store.openId},
			#{store.storeName},
			<![CDATA[ #{store.storeLocation} ]]>,
			<![CDATA[ #{store.storeLocationDetails} ]]>,
			#{store.phone},
			#{store.businessLicenseNo},
			#{store.shopkeeperName}
			)
	</insert>

</mapper>